body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: sans-serif;
    background-color: #0a0b27;
    background-image: linear-gradient(#111240, #0a0b27);
    background-image: url(../Images/bg-circles.png);
    background-attachment: fixed;
    background-size: cover;
}


/*---------------------------NAV BAR------------------------------------*/

nav {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: #212582;
    padding: 10px 20px; 
    color: white;
}


.nav-left, .nav-center, .nav-right {
    display: flex; 
    align-items: center;
    gap: 12px;
}



.settings, .cart, .lib{
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: none;
    background: none;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;/
}

.pfp{
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: white;
    background-color: transparent;
    border: rgb(100, 115, 250) solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;/
}

.logo img {
    height: 60px; 
    width: auto;
    display: block;
}

.site-name img{
    height: auto; 
    width:  150px;
    display: block;
    margin: 0;
}

.hamburger-menu {
    background: none;
    border: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
    padding: 0;
    margin-left: 10px;
}

.drop-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px; 
    right: 0;
    background-color: #0b1120;
    width: 150px;
    padding: 20px;
    box-shadow: -5px 5px 15px rgba(0,0,0,0.5);
    border-radius: 8px;
    z-index: 999;   
    opacity: 0;                    
    visibility: hidden;            
    transform: translateY(-20px);  
    transition: all 0.3s ease;
}

.drop-menu a {
  padding: 15px 0;
  border-bottom: 1px  #1b2838;
}


.drop-menu.active {
    opacity: 1;                    
    visibility: visible;           
    transform: translateY(0); 
}



/*---------------------------/NAV BAR------------------------------------*/

/*---------------------------FOOTER------------------------------------*/

footer {
    background-color: #212582;
    padding: 10px;
    bottom: 0px;
    width: 100%;
    box-sizing: border-box;
}

.footer-buttons-container{
    display: flex;
    width: 300px;
    justify-content: space-evenly;
}
.footer-buttons{
    color: white;
    background-color: transparent;
    border: white;
    bottom: 0px;
    cursor: pointer;
}
/*---------------------------/FOOTER------------------------------------*/



.content-area {
    flex: 1;
}



/*---------------------------------------------------- HOME PAGE -------------------------------------------------*/


/*---------------------------SEARCH BAR------------------------------------*/

.search-wrapper {
    max-width: 1000Px; 
    margin: 40px auto;
}


.search-container {
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
    border-radius: 20px;
    padding: 8px 16px;
    border: 1px solid #ccc;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}


.search-container:focus-within {
    border-color: #00CCFF;
    box-shadow: 0 0 8px #00A2FF;
}

/* 3. The Text Input */
.search-input {
    background: transparent;
    border: none;
    color: #333;
    width: 220px;
    font-size: 14px;
    outline: none;
}

.search-input::placeholder {
    color: #888;
}


.search-btn {
    background: none;
    border: none;
    color: #666;
    cursor: pointer;
    padding: 0;
    margin-left: 8px;
    transition: color 0.2s ease;
}

.search-btn:hover {
    color: #003b5c;
}
/*---------------------------/SEARCH BAR------------------------------------*/



/*---------------------------IMAGE SLIDER------------------------------------*/

.slider-container {
    position: relative;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 60px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}


.slider-track {
    display: flex;
    transition: transform 0.4s ease-in-out;
    width: 100%;
}


.slide {
    min-width: 100%;
    box-sizing: border-box;
    background-color: #2a475e;
    color: white;
    text-align: center;
}


.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    padding: 20px 15px;
    cursor: pointer;
    font-size: 24px;
    z-index: 10;
    transition: background 0.2s;
}

.nav-btn:hover {
    background: rgba(0, 0, 0, 0.9);
}

.prev-btn { left: 0; }
.next-btn { right: 0; }

/*---------------------------/IMAGE SLIDER------------------------------------*/


/*---------------------------DISCOVER AND RECOMMENDED GAMES--------------------------------*/

.recommended{
    display: flex;
    justify-content: space-evenly;
    margin: 50px auto;
}
.recommended-game button{
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: block;
}
.recommended-game img{
    max-height: 400px;
    height: auto;
    width: 300px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    display: block;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.recommended-game img:hover {  
    transform: scale(1.05) translateY(-10px); 
    box-shadow: 0 20px 30px rgba(0,0,0,0.8); 
}

.recommend-title img{
    height: auto;
    width: 300px;
    margin: 150px 0 20px 60px
    
}

.discover{
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0 160px 0;
}
.discover-game button{
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: block;
}
.discover-game img{
    height: auto;
    width: 300px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    display: block;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.discover-game img:hover {  
    transform: scale(1.05) translateY(-10px); 
    box-shadow: 0 20px 30px rgba(0,0,0,0.8); 
}

.discover-title img{
    height: auto;
    width: 260px;
    margin: 150px 0 20px 60px
    
}
/*---------------------------/DISCOVER AND RECOMMENDED GAMES--------------------------------*/

/*---------------------------------------------------- /HOME PAGE -------------------------------------------------*/




/*---------------------------------------------------- SETTINGS PAGE -------------------------------------------------*/
.outer-box{
    background-color: #212582;
    width: 900px;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    margin-left: 50px;
}
.inner-box{
    background-color: #3439cb;
    width: 800px;
    height:650px;
    border-radius: 16px;
}


.settings-container {
    display: flex;
    gap: 30px;
    padding: 40px;
    max-width: 1000px;
    margin: 0 auto;
    color: white;
    
}  
  
  
.settings-sidebar {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 200px;
    flex-shrink: 0;
    
}  
  
.tab-btn {
    background-color: #2a3b70;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}  
  
  
.tab-btn:hover, .tab-btn.active:hover {
    background-color: #4361ab; 
    box-shadow: 0 0 10px rgba(67, 97, 171, 0.5);
}  

#log-out-btn{
    background-color: #2a3b70;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}
#log-out-btn:hover{
    background-color: #4361ab; 
    box-shadow: 0 0 10px rgba(67, 97, 171, 0.5);
}
  
#dynamic-title {
    text-align: center;
    margin-bottom: 25px;
    font-size: 32px;
    height: 75px;
}  
  
.settings-panel {
    display: none;
}  
  
.settings-panel.active {
    display: block;
    padding:25px 50px;
}  

/*------------------------------------- ACCOUNT PANEL ---------------------------*/


#account-panel {
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
}

#account-panel.active {
    display: flex;
}

.avatar-container {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 15px;
}

.avatar-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%; 
    background-color: #1b2838;
    border: 3px solid #66c0f4;
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}


#avatar-upload {
    display: none; 
}

.upload-btn {
    background-color: #2a3b70;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 14px;
}

.upload-btn:hover {
    background-color: #4361ab;
}


.input-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}   

.input-group label {
    margin-top: 5px;
    font-size: 16px;
    color: #a3b1c6;
}

.input-group input, .input-group textarea {
    background-color: #1b2838;
    border: 2px solid #2a3b70;
    color: white;
    padding: 12px 15px;
    border-radius: 10px;
    font-size: 16px;
}


.save-btn {
    background-color: #66c0f4;
    color: #1b2838;
    font-weight: bold;
    border: none;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
    width: 250px;
    transition: transform 0.2s ease;
}

.save-btn:hover {
    transform: translateY(-2px); 
}
/*------------------------------------- /ACCOUNT PANEL ---------------------------*/


/*------------------------------------- NOTIFICATION PANEL ---------------------------*/

#notification-panel{
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    font-size: 20px;
}
#notification-panel.active{
    display: flex;

}
.notification-sub p{
    font-weight: bold;
    margin-bottom: 10px;
    font-size:24px;
}

.notification-setting{
    display: flex;
    width: 300px;
    justify-content: space-between;

}
.notification-sub{
    padding-bottom: 20px;
    border-bottom: 1px solid #2a3b70;
}
/*------------------------------------- /NOTIFICATION PANEL ---------------------------*/


/*------------------------------------- Privacy & Security PANEL ---------------------------*/

#privacy-panel{
    flex-direction: column;
    justify-content: space-between;
    height: 520px;
    font-size: 20px;
}

#privacy-panel.active{
    display: flex;
}

.privacy-panel-sub p{
    font-weight: bold;
    margin-bottom: 20px;
    font-size:24px;
}

.privacy-setting{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    width: 500px;
}
.privacy-panel-sub{
    padding-bottom: 20px;
    border-bottom: 1px solid #2a3b70;
}
.password-change-container{
    margin-bottom: 40px;
}

/*------------------------------------- /Privacy & Security PANEL ---------------------------*/

/*------------------------------------- ACCESIBILTY PANEL ---------------------------*/

#accessibility-panel {
    flex-direction: column;
    max-width: 650px;
    padding-top: 20px;
}

#accessibility-panel p{
    font-weight: bold;
    margin-bottom: 20px;
    font-size:24px;
}
#accessibility-panel.active {
    display: flex;
}


#access-section {
    margin-bottom: 30px;
    border-bottom: 1px solid #2a3b70;
    padding-bottom: 20px;
}

.slider-labels {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #a3b1c6;
    font-weight: bold;
    margin-top: 10px;
}

.access-sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #2a3b70;
    padding: 15px 0;
}

.access-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-right: 20px;
}

.access-title {
    font-size: 18px;
    color: white;
}

.access-sub-title {
    font-size: 14px;
    color: #a3b1c6;
}


/*------------------------------------- /ACCESIBILTY PANEL ---------------------------*/


/*----------------------------------------------------------- /SETTINGS PAGE -----------------------------------------------*/



/*----------------------------------------------------------- GAME PAGE -----------------------------------------------*/

#nav2 {
    background-color: #1a1e50;
    padding: 8px 20px;
    border-bottom: 1px solid #2a2f4e;
}

#nav2-left {
    float: left;
}


#searchbar {
    background-color: #2a2f4e;
    border: 1px solid #3a3f70;
    color: white;
    padding: 4px 12px;
    width: 200px;
    border-radius: 16px;
}

#dropdown-menu {
    float: right;
    background-color: #1a1c2e;
    border: 1px solid #2a2f4e;
    color: #e8e8f0;
    padding: 10px 20px;
    font-size: 13px;
    text-align: center;
    line-height: 2;
}


#nav2::after {
    content: "";
    display: block;
    clear: both;
}




#hero {
    background-color: #141726;
    padding: 30px 30px;
    border-bottom: 1px solid #2a2f4e;
    margin-top: 20px;
}


#price-box {
    float: right;
    background-color: #1a1c2e;
    border: 1px solid #2a2f4e;
    padding: 16px 20px;
    width: 220px;
    color: #e8e8f0;
    margin-left: 20px;
}

#price {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 8px;
}

.btn-buy {
    background-color: #3a3f70;
    color: white;
    border: 1px solid #5a5faa;
    padding: 10px;
    width: 100%;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 14px;
}

.btn-cart {
    background-color: #2a2f4e;
    color: white;
    border: 1px solid #5a5faa;
    padding: 10px;
    width: 100%;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 14px;
}

.wishlink {
    text-align: center;
    font-size: 12px;
    color: #a0a8d0;
    margin-bottom: 8px;
}

.review-score {
    font-size: 13px;
    margin-bottom: 4px;
}

.all-reviews {
    font-size: 12px;
    color: #a0a8d0;
    margin-bottom: 8px;
}

.review-words {
    color: #27ae60;
}

#star-bars {
    font-size: 11px;
    color: #a0a8d0;
    line-height: 1.8;
}

#big-star {
    font-size: 40px;
    color: #f0a500;
    text-align: center;
    margin-top: 8px;
}


#hero {
    background-image: url(../Images/CoverImg.jpg);
    background-size: cover;
    background-position: center;
    background-color: #141726;
    padding: 30px 30px;
    border-bottom: 1px solid #2a2f4e;
    min-height: 320px;
    overflow: hidden;
}


#game-name {
    background-color: #212582;
    color: white;
    padding: 12px 28px;
    font-size: 40px;
    width: auto;
    display: inline-block;
    margin-top: 200px;
    border-radius: 10px;
}

#hero::after {
    content: "";
    display: block;
    clear: both;
}


#main-content {
    padding: 20px 30px;
}

#desc-section h3 {
    font-size: 18px;
    margin-bottom: 6px;
}

#genre-label {
    float: right;
    background-color: #2a2f4e;
    border: 1px solid #3a3f70;
    padding: 6px 14px;
    font-size: 14px;
    margin-top: -30px;
    color: white;
}

#desc-text {
    background-color: #1e2240;
    border: 1px solid #2a2f4e;
    padding: 16px;
    margin-top: 30px;
    margin-bottom: 16px;
    clear: both;
    color:white;
}

#desc-section h3{
    color: white;
}

#desc-section::after {
    content: "";
    display: block;
    clear: both;
}


#screenshots {
    margin-bottom: 16px;
}

.screenshot {
    width: 140px;
    height: 100px;
    border: 1px solid #2a2f4e;
    margin-right: 10px;
    background-color: #2a2f4e;
}

#recommendations {
    padding: 20px 30px;
    border-top: 1px solid #2a2f4e;
}

#recommendations h3 {
    font-size: 18px;
    margin-bottom: 14px;
    color:white;
}

.rec-card {
    display: inline-block;
    background-color: #181c2e;
    border: 1px solid #2a2f4e;
    padding: 8px;
    margin-right: 10px;
    width: 140px;
    vertical-align: top;
}

.rec-card img {
    width: 130px;
    height: 90px;
    background-color: #2a2f4e;
    border: 1px solid #3a3f70;
}

.rec-card p {
    font-size: 12px;
    margin-top: 6px;
    text-align: center;
    color: white;
}

.rec-title {
    font-size: 12px;
    font-weight: bold;
    margin-top: 6px;
    text-align: center;
    color: #e8e8f0;
}

.rec-price {
    font-size: 12px;
    text-align: center;
    color: #f0a500;
}

/*----------------------------------------------------------- /GAME PAGE -----------------------------------------------*/



/*----------------------------------------------------------- PROFILE PAGE -----------------------------------------------*/

.profile-wrapper {
    color: white;
    padding: 50px 80px;
    max-width: 1200px;
    margin: 0 auto;
}

.profile-header {
    display: flex;
    margin-bottom: 50px;
    align-items: center;
}

.avatar-circle-large {
    width: 140px;
    height: 140px;
    background-color: #e31837;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    font-weight: 300;
    color: white;
    margin-right: 30px;
}

.profile-info h1 {
    font-size: 32px;
    margin: 0 0 15px 0;
}

.profile-stats {
    display: flex;
    gap: 40px;
}

.stat-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.stat-title {
    font-size: 12px;
    color: #a3b1c6;
}

.stat-number {
    font-size: 18px;
    font-weight: bold;
}

.profile-tabs {
    display: flex;
    gap: 30px;
    border-bottom: 1px solid #2a3b70;
    margin-bottom: 20px;
}

.profile-tabs a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 15px;
    border-bottom: 3px solid #66c0f4;
}

/* --- Game Cards --- */
.games-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.game-card {
    display: flex;
    gap: 20px;
    align-items: center;
}

.game-image {
    width: 260px;
    height: 140px;
    border-radius: 6px;
    object-fit: cover; /* Ensures the image doesn't stretch weirdly */
    border: 1px solid #2a3b70;
}

.game-details {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.game-details h2 {
    font-size: 18px;
    margin: 0 0 40px 0;
}


.progress-section {
    width: 300px;
}

.progress-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 10px;
}

.progress-title {
    font-size: 12px;
    color: #a3b1c6;
}

.progress-numbers {
    font-size: 13px;
    color: #ccc;
}

.percent {
    color: white;
    font-weight: bold;
    margin-right: 10px;
}

.progress-track {
    width: 100%;
    height: 4px;
    background-color: #1b2838;
    border-radius: 2px;
    overflow: hidden;
}

.progress-fill {
    height: 100%;
    background-color: white;
    border-radius: 2px;
}

/*----------------------------------------------------------- /PROFILE PAGE -----------------------------------------------*/
